img {
    width: 50%;
  }
  
button.FormAddAlumno{
  background-color: #69B614;
  width: 129px;
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border:0px;
  font-size: 11px;
  cursor: pointer;
  outline: none;
}