body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}

/* TABLAS */
#tabla {
  width: 60%;
  height: 60%;
  margin: 2% 15%;
}

/* GLOBOS */

.globoAmarillo {
  border-radius: 100px;
  background: #f7ce17;
  width: 50px;
  height: 110px;
  margin: 2%;
}

.globoAzul {
  border-radius: 300px;
  background: rgb(1, 81, 87);
  width: 50px;
  height: 110px;
  margin: 2%;
}

.globoRojo {
  border-radius: 300px;
  background: rgb(141, 4, 4);
  width: 50px;
  height: 110px;
  margin: 2%;
}
